@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
--sidebar-flex:1.5;
--condiv-flex:6;
--fontsize-p:1.2rem;
--fontsize-nav:2rem;
--typing-font:3rem;
}

* {
  padding:0;
  margin:0;
}

.App {
  display:flex;
  width:100vw;
  min-height: 100vh;
}
body {
font-family: 'Raleway';
}
nav {
    padding:30px 5px 0px 5px ;
    flex:var(--sidebar-flex);
    background: rgb(238,103,143);
    background: linear-gradient(180deg, rgba(238,103,143,1) 50%, rgba(132,124,252,1) 80%);
}

nav ul {
    font-size: var(--fontsize-nav);
    text-align: center;
    list-style-type: none;
}

nav ul li{
  margin:50px;
}

.active {
  font-weight:bold;
  font-size: 2.5rem;
}

.condiv {
    padding: 50px ;
    background-color: #f4f5f9;
    flex:var(--condiv-flex);
}



img {
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

}

.social {
    position: relative;
    top:300px;
    display:flex;
    justify-content: center;
}

.social a{
    padding-right: 20px;
    color:gray;
    font-size: 30px;


}

.social a:hover {
    color:black;
}

.typingeffect{
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    left:50%;
}

h1 {
    padding:0;
    font-size: 4rem;
    margin-top:30px;
}

h3{
    font-size: 2rem;
    font-style: italic;
    padding: 20px 0px 20px 0px;
}

p {
    font-size:20px;
}